@model List<DOTNET_DIARIES.Models.Blogpost>

@{
    ViewData["Title"] = "BlogpostsIndex";
}

<div class="container">
    <h1>Blogposts</h1>
    <div class="row">
        @foreach (var blogpost in Model)
        {

            <div class="col-md-4">
                <h2>@blogpost.Title</h2>
                <p>@blogpost.Content</p>
                <a href="@Url.Action("Details", "Blogposts", new { id = blogpost.Id })">Read more</a>
            </div>
        }
    </div>